<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>管理中心</title>
	<meta name="decription" content="众达，众达网络协同办公系统" />
	<meta name="keyword" content="众达，众达网络协同办公系统" />
	<meta name="author" content="zdwl_cp, cp_zdwl@126.com" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	{js href="__PUBLIC__/js/jquery.min.js"}
	{css href="__PUBLIC__/css/public.css, __PUBLIC__/css/admin.css"}
</head>
